/* Get rid of default padding and margin*/
*{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
header,nav,article,section,footer,aside{
	display: block;
}
/*centering website*/
.container{
	width: 1000px;
	margin: 0px auto;
}
/* tutorial 37 ended here */
.clear{
	clear: both;
}
.logo{
	height: 225px;
	width: 225px;
	float: left;
}
.top_nav{
	float: left;
	width: 775px;
}
.top_nav ul li{
	float: left;
	padding: 100px 20px;
}
/* tutorial 38 ended here */
.left_side{
	float: left;
	width: 686px;
	border: 2px solid red;
	margin-right: 10px;
}
.right_side{
	float: left;
	width: 296px;
	border: 2px solid blue;
}
.page_footer{
	clear: both;
}
/* tutorial 39 ended here */