/*p:first-letter
p:first-line{
	color: blue;
	font-weight: bold;
	font-size: 20px;
}
<!-- tutorial 24 ended here -->
#parent p:first-child{
	color: red;
	text-decoration: underline;
}
#parent p:last-child{
	color: blue;
	text-decoration: underline;
}
#parent p:before{
	content: "I am before"
}
#parent p:after{
	content: "I am after"
}
<!-- tutorial 25 ended here -->
#parent p:nth-child(even){
	background-color: grey;
	color: red;
}
#parent p:nth-child(2n){
	background-color: grey;
	color: blue;
}
#parent p:nth-child(4n){
	background-color: grey;
	color: blue;
}
#parent p:nth-child(4){
	background-color: grey;
	color: red;
}
<!-- tutorial 26 ended here -->
a{
	color: green;
	text-decoration: none;
}
a:hover{
	color: red;
	text-decoration: underline;
}
a:active{
	color: orange;
}
a:visited{
	color: pink;
	text-decoration: none;
}
<!-- tutorial 27 ended here -->
ul{
	list-style-type: circle/square/decimal/disc/lower-greek/katakana;
	list-style-image: url(tick.png);
	line-height: 600%;
	list-style-position: inside;
}
<!-- tutorial 28 ended here -->
.rounded_box{
	background-color: orange;
	width: 200px;
	text-align: center;
	padding: 50px 0px;
	border-radius: 50px;
	border-top-left-radius: 50px;
	-webkit-border-top-left-radius: 50px;
	-moz-border-top-left-radius: 50px;
}
<!-- tutorial 29 ended here -->
.rounded_box{
	background-color: #0299ef;
	width: 200px;
	text-align: center;
	padding: 50px 0px;
	border-radius: 30px;
	background-image: linear-gradient(to top, #04507b 20%, #0072b4 40%, #018ad9 40%, #00a2ff 100%);
}
<!-- tutorial 30 ended here -->
.pic{
	float: right;
}
.para2{
	clear: left/right/both;
}
<!-- tutorial 31 ended here -->
.left_column{
	float: left;
	background-color: blue;
	height: 200px;
	width: 200px;
	color: white;
	text-align: center;
	margin: 10px;
}
.middle_column{
	float: left;
	background-color: red;
	height: 200px;
	width: 200px;
	color: white;
	text-align: center;
	margin: 10px;
}
.right_column{
	float: left;
	background-color: green;
	height: 200px;
	width: 200px;
	color: white;
	text-align: center;
	margin: 10px;
}
<!-- tutorial 32 ended here -->*/