/*div{
	border: 1px solid red;
	background-color: yellow;
	width: 250px;
}

span{
	color: green;
	text-decoration: underline;
}
<!-- tutorial 18 ended here -->
div{
	height: 250px;
	width: 250px;
	//background-color: #00baff;
	background-color: rgb(12,255,0);
}
<!-- tutorial 19 ended here -->
div{
	height: 350px;
	width: 100%;
	background-image: url(Untitled.png);
	background-repeat: no-repeat;
	/*background-repeat: repeat-x;
	background-repeat: repeat-y;
	background-position: center;
	background-color: orange;
}

body{
	background-attachment: fixed;
}
<!-- tutorial 20 ended here -->
.blue{
	color: blue;
}

.red{
	color: red;
}

.yellow{
	color: yellow;
}
<!-- tutorial 21 ended here -->
#blue{
	color: blue;
}
#red{
	color: red;
}
#yellow{
	color: yellow;
	background-color: black;
}
<!-- tutorial 22 ended here -->
div p{
	color: red;
}
p{
	color: blue;
}
.red p{
	color: red;
}
#green p{
	color: green;
}
<!-- tutorial 23 ended here -->*/