/*p:first-letter
p:first-line{
	color: blue;
	font-weight: bold;
	font-size: 20px;
}
<!-- tutorial 24 ended here -->
#parent p:first-child{
	color: red;
	text-decoration: underline;
}
#parent p:last-child{
	color: blue;
	text-decoration: underline;
}
#parent p:before{
	content: "I am before"
}
#parent p:after{
	content: "I am after"
}
<!-- tutorial 25 ended here -->
#parent p:nth-child(even){
	background-color: grey;
	color: red;
}
#parent p:nth-child(2n){
	background-color: grey;
	color: blue;
}
#parent p:nth-child(4n){
	background-color: grey;
	color: blue;
}
#parent p:nth-child(4){
	background-color: grey;
	color: red;
}
<!-- tutorial 26 ended here -->
a{
	color: green;
	text-decoration: none;
}
a:hover{
	color: red;
	text-decoration: underline;
}
a:active{
	color: orange;
}
a:visited{
	color: pink;
	text-decoration: none;
}
<!-- tutorial 27 ended here -->*/